* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scrollbar-width: none;
	max-width: 100vw;
	width: 100vw;
}

body::-webkit-scrollbar {
	width: 0 !important;
}
body {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}
.react-responsive-modal-modal {
	border-radius: 10px;
}

.nav-link {
	background: linear-gradient(#fb923c 0 0) no-repeat calc(200% - var(--p, 0%))
		100% / 200% var(--p, 0.08em);
	transition: 0.3s var(--t, 0s),
		background-position 0.3s calc(0.3s - var(--t, 0s));
}
.nav-link:hover {
	--p: 100%;
	--t: 0.3s;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.nav-link {
		background: white !important;
		padding: 5px !important;
	}
	.nav-link:hover {
		color: black;
	}
}
